extends ../layouts/layout

block config
    - var pageTitle = "Главная";

block content
    section.main
        .container
            .main__cont
                .main__title Эффективные инструменты развития сотрудников и корпоративной культуры
                .main__form
                    input(type='text' placeholder='E-mail').main__input
                    button(type='submit').main__submit Попробовать бесплатно

            .main__people

    section.about
        .container
            .about__cont
                .about__info
                    .about__headline Что такое AltSuite
                    .about__text.about__text-light AltSuite-платформа инструментов для повышения продуктивности и развития корпоративной культуры. Анализируйте вовлеченность сотрудников, развивайте рефлексию и сотрудничество, предугадывайте недопонимание.
                    .about__text.about__text-medium При создании инструментов команда AltSuite ориентировалась на лучшие hr-практики и опыт таких предпринимателей как Рэй Далио, Ласло Бок, Энтони Роббинс и других.

                .about__phone

                .about__test
                    .about__test__pic
                    .about__test__text Тестовый опрос в Telegram
                    a(href='#').about__test__btn Пройти

    section.product
        .container
            .product__headline Продукты AltSuite
            .product_slider
                .product_slider__wrap
                    .product_slider__list
                        each item in product
                            .product_slider__item
                                .product_slider__cont(class=(item.new) ? 'product_slider__cont-new':'')
                                    .product_slider__title=item.title
                                    .product_slider__text=item.text
                                    .product_slider__options
                                         each option in item.options
                                             .product_slider__options__item
                                                 .product_slider__options__icon
                                                     span(class=option.icon)
                                                 .product_slider__options__text=option.text
                .product_slider__prev
                .product_slider__next

