extends ../layouts/layout

block config
    - var pageTitle = "Главная";

block content
    section.main
        .container
            .main__cont
                .main__title Эффективные инструменты развития сотрудников и корпоративной культуры
                .main__form
                    input(type='text' placeholder='E-mail').main__input
                    button(type='submit').main__submit Попробовать бесплатно

            .main__people
