//header
header.header
    .container
        .header__cont
            a(href='#').header__logo
            .header__nav
                .header__nav__item
                    a(href='#product' data-name="product").header__nav__link Продукты
                .header__nav__item
                    a(href='#how' data-name="how" ).header__nav__link Как работает AltSuite
                .header__nav__item
                    a(href='#blog' data-name="blog").header__nav__link Блог
                .header__nav__item
                    a(href='#support' data-name="support").header__nav__link Контакты
                .header__nav__item
                    a(href='#').button.button-filled Войти
                .header__nav__item
                    a(href='#').button.jsRegBtn Зарегистрироваться

