.nav
    .nav__menu
        .nav__cont
            ul.nav__list
                li <a href="#" class="nav__link">Продукты</a>
                li <a href="#" class="nav__link">Как работает AltSuite</a>
                li <a href="#" class="nav__link">Блог</a>
                li <a href="#" class="nav__link">Контакты</a>
                li <a href="#" class="button button-filled">Войти</a>
                li <a href="#" class="button">Зарегистрироваться</a>


    a(href='#').nav__burger <span></span>
    a(href='#').nav__logo
